<!DOCTYPE html>
<html>
<head>
  <title>Little Red Bean Productions</title>
  <style type="text/css">
	html {
	  background: url(<%= "https://s3.amazonaws.com/LittleRedBean/Images/Backgrounds/#{rand(18)}.jpg" %>) no-repeat center center fixed, url("https://s3.amazonaws.com/LittleRedBean/Images/Backgrounds/texture.jpg");
	  background-color:#fff;
    }
    
  </style>
  <%= stylesheet_link_tag "https://s3.amazonaws.com/LittleRedBean/CSS/LittleRedBean/jquery-ui-1.10.4.custom.css", media: "all", "data-turbolinks-track" => true%>
  <%= javascript_include_tag "https://s3.amazonaws.com/LittleRedBean/js/jquery-1.10.2.js", "https://s3.amazonaws.com/LittleRedBean/js/jquery-ui-1.10.4.custom.js", "https://s3.amazonaws.com/LittleRedBean/js/jquery.horizontalNav.js", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
